@charset "UTF-8";
:root{
    --color-main01:#0fb259;
    --color-main01-10:rgba(15, 178, 89,0.1);
    --color-main02:#ea4d64;
    --color-main02-10:rgba(234, 77, 100, 0.1);
    --color-main03:#54a5ff;
    --color-main03-10:#ddedff;
    --color-main04:#a854ff;

    --color-grayblue:#4d5e72;

    --fs-regular:'Paperlogy-Regular',sans-serif;
    --fs-medium:'Paperlogy-Medium',sans-serif;
    --fs-bold:'Paperlogy-Bold',sans-serif;
    --fs-Extrabold:'Paperlogy-ExtraBold',sans-serif;

    --input-height:2.8rem;
    --input-height--sm:2.25rem;
    --input-color:#b8c0cd;
}

.fs-bold{font-family:var(--fs-bold) !important;}
.T_center{text-align:Center !important;}
.T_right{text-align:right !important;}
.T_left{text-align:left !important;}

/* input */
input{font-family:var(--fs-regular); box-sizing: border-box; padding:0 0.8rem; height:var(--input-height); border:1px solid var(--input-color); background:#fff; border-radius:500px;}
input.single{height:auto;}
input:disabled{background:#eee;}


/* select */
select {
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none /* 화살표 없애기 */
}
select option {
  line-height: 2; /* 글자 줄간격으로 높이를 확보 */
}
select{height:var(--input-height); font-family:var(--fs-regular); border-radius:0.5rem; padding:0.5rem; padding-right:2rem; border:1px solid var(--input-color); position:relative; background:#fff url("../img/select_sort.svg")98% center / 0.9rem auto no-repeat;}
select.round{border-radius:500px;}

/* input label */
label.c-input{display:inline-block; position:relative; padding-left:1.3rem; margin-right:1rem;}
label.c-input input{position:absolute; top:0; left:0; width:0; height:0;}
label.c-input.ci-radio input[type="radio"] + div.ci-show{width:1rem; height:1rem; display:inline-block; border-radius:50%; border:1px solid #ddd; transition:0.3s; background:#efefef; position:absolute; top:50%; left:0; transform:translateY(-50%);}
label.c-input.ci-radio input[type="radio"] + div.ci-show:after{content:''; display:none; width:55%; height:55%; background:#fff; border-radius:50%; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
label.c-input.ci-radio:hover input[type="radio"] + div.ci-show{background:#efefef; border-color:#ccc;}
label.c-input.ci-radio input[type="radio"]:checked + div.ci-show{background:var(--color-main01); border-color:var(--color-main01);}
label.c-input.ci-radio input[type="radio"]:checked + div.ci-show:after{display:block;}

label.c-input.ci-check input[type="checkbox"] + div.ci-show{width:1rem; height:1rem; display:inline-block; border-radius:3px; border:1px solid #ddd; transition:0.3s; background:#fff; position:absolute; top:50%; left:0; transform:translateY(-50%);}
label.c-input.ci-check input[type="checkbox"] + div.ci-show:after{content:''; display:none; width:22%; height:50%; background:transparent; border-bottom:2px solid #fff; border-right:2px solid #fff; position:absolute; top:40%; left:45%; transform:translate(-50%, -50%) rotate(45deg);}
label.c-input.ci-check:hover input[type="checkbox"] + div.ci-show{background:#efefef; border-color:#ccc;}
label.c-input.ci-check input[type="checkbox"]:checked + div.ci-show{background:var(--color-main01); border-color:var(--color-main01);}
label.c-input.ci-check input[type="checkbox"]:checked + div.ci-show:after{display:block;}

/* toggle switch */
label.c-togglelabel {width: 2.8rem; height: 1.6rem; display:block; position: relative; border-radius: 500px; background:#ccc; cursor: pointer;}
label.c-togglelabel .c-togglebutton{width: 1.125rem; height: 1.125rem; position: absolute; top: 50%; left:0.25rem; transform: translateY(-50%); border-radius: 50%; background:#fff;}
input.c-toggle:checked ~ .c-togglelabel{background: var(--color-main01);}
input.c-toggle:checked ~ .c-togglelabel .c-togglebutton{left:calc(100% - 1.4rem);  background: #fff;}
label.c-togglelabel, .c-togglebutton{transition: all 0.2s ease-in;}

/* form */
div.form-wrap{}
div.form-wrap div.form{display:flex; margin-bottom:1.5rem; gap:0.5rem;}
div.form-wrap div.form .form-btn{height:var(--input-height); line-height:var(--input-height); border-radius:500px; background:#333; color:#fff; padding:0 1rem; text-wrap:nowrap;}
div.form-wrap div.form div.tit{min-width:18%; margin-top:0.75rem; font-family:var(--fs-bold);}
div.form-wrap div.form div.con{min-width:72%;}
div.form-wrap div.form div.con input:not[type="checkbox"][type="radio"]{width:100%; display:inline-block;}
div.form-wrap div.form div.con div.row{display:flex; gap:0.5rem;}
div.form-wrap div.form div.con label.c-input,
div.form-wrap div.form div.con label.c-togglelabel{margin-top:0.75rem;}

/* btn */
div.btn-center-wrap{display:flex; align-items:center; justify-content:center; gap:0.4rem; margin-top:3rem;}
.c-btn{padding:0.3rem 1.2rem;  background:#fff; color:#333; border:2px solid #333; border-radius:0.5rem; display:inline-block; font-family:var(--fs-medium);}
.c-btn.--lg{font-size:1.25rem; padding:0.5rem 1.6rem; border-radius:0.7rem;}
.c-btn.--sm{font-size:0.88rem; padding:0.25rem 0.6rem;}
.c-btn.confirm{background:#333; color:#fff;}
.c-btn.cancel{border-color:#a0a0a0; color:#888;}
.c-btn.save{border-color:var(--color-main01); color:#fff; background:var(--color-main01);}
.c-btn.underline{text-decoration:underline; padding:0; border:0; border-radius:0; color:var(--color-main03); transition:0.25s;}
.c-btn.underline:hover{color:blue;}

.r-btn{font-size:0.8rem; padding:0.3rem 0.7rem; display:inline-block; color:#fff; background:#333; border-radius:50px;}
.r-btn.delete{background:#ea4d4d; color:#fff;}
.r-btn.save{background:var(--color-main01); color:#fff;}
.r-btn.modify{background:var(--color-main04); color:#fff;}
.r-btn.ico{padding-left:1em; }
.r-btn.ico > span{display:inline-block; width:1em; height:1em; margin-right:0.25rem; vertical-align: text-top;}
.r-btn.ico > span > img{display:inline-block; width:100%; height:100%;}


/* table */
table{width:100%; font-family:var(--fs-regular); font-size:1rem; text-align:left;}
table th{padding:0.5rem; font-family: var(--fs-medium); font-weight:unset;}
table td{padding:0.5rem;}
table input[type=checkbox].single{width:1.125rem; height:1.125rem;}

table.c-table{width:100%; border-top:2px solid var(--color-grayblue); border-bottom:1px solid var(--color-grayblue);}
table.c-table thead{border-bottom:2px solid var(--color-grayblue); word-break:keep-all; color:var(--color-grayblue);}
table.c-table tr{border-bottom:1px dashed #ddd;}
table.c-table tbody tr:last-child{border-bottom:none;}
table.c-table th{font-family:var(--fs-bold);}
table.c-table td{}

div.table-util{display:flex; align-items:center; justify-content: space-between; margin-bottom:0.5rem;}
div.table-util div.u-left{width:48%; text-align:left;}
div.table-util div.u-right{width:48%; text-align:right;}

/* label */
.c-lab{padding:0.4rem 1rem; border-radius:50px; background:#eee; display:inline-block; font-size:1rem; vertical-align:middle;}
.c-lab.--sm{font-size:0.85rem; padding:0.2rem 0.6rem;}
.c-lab.red{color:red; background:rgba(255,0,0,0.1);}
.c-lab.blue{color:rgb(84, 165, 255); background:rgba(84, 165, 255,0.1);}
.c-lab.gray{color:#aaa; background:#eee;}

/* password check list */
ul.pwd-chk-list{display:flex; gap:0.8rem; margin-top:0.5rem;}
ul.pwd-chk-list li{position:relative; padding-left:1.8rem; opacity:.5;}
ul.pwd-chk-list li:before{content:''; display:block; width:1.5rem; height:1.5rem; background:url("../img/ico_check.png")center/contain no-repeat; opacity:.2; position:absolute; top:0; left:0;}
ul.pwd-chk-list li.chked{opacity:1; color:var(--color-main01); font-family:var(--fs-medium);}
ul.pwd-chk-list li.chked:before{background-image:url("../img/ico_check_fill.png"); opacity:1;}

/* password eyes */
div.inp-pw{position:relative;}
div.inp-pw a.pw-eyes{width:1.5rem; height:1.5rem; background-repeat:no-repeat; opacity:.3; background-size:contain; position:absolute; top:50%; right:1.5rem; transform:translateY(-50%);}
div.inp-pw a.pw-eyes:hover{opacity:.8;}
div.inp-pw a.pw-eyes.show{background-image:url(../img/ico_eyes_show.svg);}
div.inp-pw a.pw-eyes.hide{background-image:url(../img/ico_eyes_hide.svg);}

/* search */
div.search-area{display:flex; flex-wrap:wrap; gap:0.5rem; width:100%; margin-bottom:1rem; font-size:0.9rem; align-items:flex-end;}
div.search-area div.search-lab{}
div.search-area div.search-lab span.lab{display:block; font-size:0.8rem; color:#828b98;}
div.search-area div.search-lab select,
div.search-area div.search-lab input{width:100%; min-width:10rem; height:var(--input-height--sm); font-size:1em;}
div.search-area div.search-lab a.search-btn{display:inline-block; padding:0 1rem;  height:var(--input-height--sm); line-height:var(--input-height--sm); background:var(--color-grayblue); color:#fff; font-family:var(--fs-medium); border-radius:500px;}
div.search-area div.search-lab label.c-input{height:var(--input-height--sm); line-height:var(--input-height--sm);}
div.search-area div.search-lab label.c-input input[type="checkbox"]{width:0; min-width:0; height:0; position:absolute; top:0; left:0;}


/* modal */
div.modal-wrap{position:fixed; top:0; left:0; width:100%; height:100vh;}
div.modal-wrap div.bg{width:100%; height:100%; position:absolute; top:0; left:0;}
div.modal-wrap div.modal{width:800px; max-width:90%; max-height:90vh; position:absolute; top:15%; left:20%; border-radius:1rem; backdrop-filter: blur(6px); background:rgb(35 111 229 / 20%); padding:0.6rem 0.7rem; box-shadow:0 5px 50px rgba(0,0,0,0.35);}
div.modal-wrap div.modal div.m-head{display:flex; align-items:center; justify-content:space-between; padding:0.6rem;}
div.modal-wrap div.modal div.m-head:active{cursor:all-scroll;}
div.modal-wrap div.modal div.m-head p.mh-label{font-family:var(--fs-bold); font-size:1.2rem; color:#333;}
div.modal-wrap div.modal div.m-head a.modal-close{width:1.8rem; height:1.8rem; position:relative; background:#fc5757; border-radius:5px;}
div.modal-wrap div.modal div.m-head a.modal-close > span.bar{display:block; width:60%; height:2px; background:#fff; position:absolute; top:50%; left:50%; transition:0.2s;}
div.modal-wrap div.modal div.m-head a.modal-close > span.bar:nth-child(1){transform:translate(-50%, -50%) rotate(45deg);}
div.modal-wrap div.modal div.m-head a.modal-close > span.bar:nth-child(2){transform:translate(-50%, -50%) rotate(-45deg);}
div.modal-wrap div.modal div.m-body{background:#fff; border-radius:0.4rem; border:1px solid #ddd; padding:1rem;}

/* modal > search */
div.modal-wrap div.modal-search-area{display:flex; flex-wrap:wrap; gap:0.5rem; width:100%; margin-bottom:1rem; font-size:0.9rem;}
div.modal-wrap div.modal-search-area div.search-lab{}
div.modal-wrap div.modal-search-area div.search-lab span.lab{display:block; font-size:0.8rem; color:#828b98;}
div.modal-wrap div.modal-search-area div.search-lab select,
div.modal-wrap div.modal-search-area div.search-lab input{width:100%; min-width:10rem; height:var(--input-height--sm); font-size:1em;}
div.modal-wrap div.modal-search-area div.search-lab a.search-btn{display:inline-block; padding:0 1rem;  height:var(--input-height--sm); line-height:var(--input-height--sm); background:var(--color-grayblue); color:#fff; font-family:var(--fs-medium); border-radius:500px;}

/* modal > list */
div.modal-wrap div.modal-list-area{}
div.modal-wrap div.modal-list-area div.list-top{font-size:0.8rem; color:#828b98; margin-bottom:0.15rem;}
div.modal-wrap div.modal-list-area div.list-top span.num{font-family:var(--fs-bold); color:var(--color-grayblue);}
div.modal-wrap div.modal-list-area div.list-table-wrap{}
div.modal-wrap div.modal-list-area div.list-table-wrap table.list-table{font-size:0.85rem; border-top:1px solid #ddd;}
div.modal-wrap div.modal-list-area div.list-table-wrap table.list-table thead{border-bottom:1px solid #ddd;}
div.modal-wrap div.modal-list-area div.list-table-wrap table.list-table thead th{background:#f0f2f8; color:var(--color-grayblue); text-align:left;}
div.modal-wrap div.modal-list-area div.list-table-wrap table.list-table tbody tr{border-bottom:1px solid #ddd;}

/* modal > form */
div.modal-wrap div.form-wrap{padding:1rem;}
div.modal-wrap div.form-wrap div.form{margin-bottom:1rem;}
div.modal-wrap div.form-wrap div.form div.con input[type="text"]{width:100%;}
div.modal-wrap div.form-wrap.div-col2{display:flex; flex-wrap:wrap;}
div.modal-wrap div.form-wrap.div-col2 div.form{width:50%;}
div.modal-wrap div.form-wrap.div-col2 div.form div.tit{}
div.modal-wrap div.form-wrap.div-col2 div.form div.con{}
div.modal-wrap div.form-wrap.div-col2 div.btn-center-wrap{width:100%; margin:1rem 0;}

/* pagination */
ul.pagination{display:flex; align-items:center; justify-content:center; gap:0.5rem; font-size:0.9rem; margin:1.5rem 0 0.5rem 0;}
ul.pagination li{width:2rem; height:2rem; line-height:2rem; text-align:center; color:var(--color-grayblue); opacity:.6;}
ul.pagination li:hover{opacity:1; font-family:var(--fs-bold);}
ul.pagination li a{display:block; width:100%; height:100%;}
ul.pagination li.arrow{background:url("../img/ico_arrow_right.svg")center/40% auto no-repeat; opacity:.2; transition:0.3s;}
ul.pagination li.arrow:hover{opacity:.6;}
ul.pagination li.arrow.prev{transform:scaleX(-1);}
ul.pagination li.on{font-family:var(--fs-bold); opacity:1; background:var(--color-grayblue); color:#fff; border-radius:50%;}

/* sub tab */
ul.tab-list{display:flex; gap:0.5rem;}
ul.tab-list li{font-size:1rem; border:1px solid #ddd; color:#666; border-radius:500px; background:#eee; transition:0.3s;}
ul.tab-list li a{width:100%; height:100%; padding:0.6rem 1.2rem; display:flex; align-items: center;}
ul.tab-list li a > span.ico{width:1.5rem; height:1.5rem; display:inline-block; margin-right:0.5rem;}
ul.tab-list li a > span.ico img{display:inline-block; width:100%; height:100%; object-fit:contain;}
ul.tab-list li.on{color:#fff; border-color:#333; background:#333; box-shadow:0 10px 20px rgba(0,0,0,0.3); background: #474747; background: radial-gradient(circle, rgba(71, 71, 71, 1) 0%, rgba(58, 58, 58, 1) 46%, rgba(33, 33, 33, 1) 100%);}
@media(hover:hover){
    ul.tab-list li:not(.on):hover{background:#fff; border-color:#ddd; box-shadow:0 10px 20px rgba(0,0,0,0.1);}
}