@charset "UTF-8";

/* 레이아웃 */
div.diary-wrap{position:relative; width:100%; height:100vh;}
div.diary-wrap div.outer-bg{position:absolute; top:0; left:0; background:url("../img/login_bg.png")center/cover no-repeat; width:100%; height:100%;}
div.diary-wrap div.inner-box{width:1280px; height:90vh; position:absolute; top:50%; left:4%; transform:translateY(-50%); background:rgba(255,255,255,0.5); padding:2rem; border-radius:1.5rem; box-shadow:0 0 30px rgba(67,141,2,0.6);}
div.diary-wrap div.inner-box div.content-nav{position:absolute; top:10%; right:-4.5rem;}
div.diary-wrap div.inner-box div.content-nav ul.nav-list{}
div.diary-wrap div.inner-box div.content-nav ul.nav-list li{width:6.5rem; text-align:center; font-family:var(--fs-medium); font-size:1.1rem; color:#fff; background:var(--color-main01); margin-top:0.3rem; border:2px solid #333; border-radius:0 0.5rem 0.5rem 0; border-left:0; position:relative;}
div.diary-wrap div.inner-box div.content-nav ul.nav-list li:before{content:''; display:none; width:3px; height:100%; background:#fff; position:absolute; top:0; left:-2px;}
div.diary-wrap div.inner-box div.content-nav ul.nav-list li a{display:block; width:100%; height:100%; padding:0.6rem 0;}
div.diary-wrap div.inner-box div.content-nav ul.nav-list li.on{background:#fff; color:#333; }
div.diary-wrap div.inner-box div.content-nav ul.nav-list li.on:before{display:block;}
div.diary-wrap div.inner-box div.content-box{background:#fff; border:2px solid #333; border-radius:0.8rem; padding:1.65rem 2rem; width:100%; height:100%; overflow-y:auto;}
div.diary-wrap div.inner-box div.content-box::-webkit-scrollbar{width:4px;  /* 스크롤바의 너비 */}
div.diary-wrap div.inner-box div.content-box::-webkit-scrollbar-thumb {height: 30%; /* 스크롤바의 길이 */ background:#555; /* 스크롤바의 색상 */ border-radius: 10px;}
div.diary-wrap div.inner-box div.content-box::-webkit-scrollbar-track{background: rgba(33,33,33,.1);  /*스크롤바 뒷 배경 색상*/}

/* 사이드 내지갑 */
div.side-wallet{position:fixed; top:10%; left:84%; width:15%; font-size:0.95rem;}
div.side-wallet ul.side-nav{display:flex; gap:0.2rem; align-items:flex-end;}
div.side-wallet ul.side-nav li{background:#065f2f; border-radius:0.8rem 0.8rem 0 0; border:2px solid #333; border-bottom:0; color:rgba(255,255,255,0.5); transition:0.3s;}
div.side-wallet ul.side-nav li:hover{color:#fff; background:var(--color-main01);}
div.side-wallet ul.side-nav li:hover a{padding-bottom:0.4rem;}
div.side-wallet ul.side-nav li a{padding:0.5em 1rem; padding-bottom:0; display:inline-block; transition:0.3s;}
div.side-wallet ul.side-nav li.on{background:var(--color-main01); font-family:var(--fs-bold); position:relative; color:#fff;}
div.side-wallet ul.side-nav li.on:after{content:''; display:block; background:var(--color-main01); width:100%; height:2px; position:absolute; bottom:-2px; left:0;}
div.side-wallet ul.side-nav li.on a{padding:0.5rem 1rem;}
div.side-wallet div.side-box{width:100%; background:var(--color-main01); border:2px solid #333; padding:0.5rem; border-radius:0 1rem 1rem 1rem;}
div.side-wallet div.side-box div.inner{background:#fff; border-radius:0.5rem; padding:1rem;}
div.side-wallet div.side-box div.inner div.date-txt{margin-bottom:1rem; color:#555;}
div.side-wallet div.side-box div.inner div.date-txt p.eng{font-size:0.8em; opacity:.5;}
div.side-wallet div.side-box div.inner div.date-txt p.kor-date{font-size:1rem;}
div.side-wallet div.side-box div.inner ul.cash-list{}
div.side-wallet div.side-box div.inner ul.cash-list li{margin-bottom:0.5rem; background:#eee; padding:0.5rem 0.8rem; border-radius:50px; flex-wrap:wrap; display:flex; justify-content:space-between;}
div.side-wallet div.side-box div.inner ul.cash-list li:last-child{margin-bottom:0;}
div.side-wallet div.side-box div.inner ul.cash-list li span.l-tit{font-family:var(--fs-bold); color:#888;}
div.side-wallet div.side-box div.inner ul.cash-list li span.r-num{}
div.side-wallet div.side-box div.inner ul.cash-list li.cash-blue{background:var(--color-main03-10);}
div.side-wallet div.side-box div.inner ul.cash-list li.cash-blue span.l-tit{color:var(--color-main03);}
div.side-wallet div.side-box div.inner ul.cash-list li.cash-blue span.r-num{}
div.side-wallet div.side-box div.inner ul.cash-list li.cash-red{background:var(--color-main02-10);}
div.side-wallet div.side-box div.inner ul.cash-list li.cash-red span.l-tit{color:var(--color-main02);}
div.side-wallet div.side-box div.inner ul.cash-list li.cash-red span.r-num{}
div.side-wallet div.side-btn{display:flex; align-items:center; gap:0.5rem; justify-content: center; margin-top:1rem;}
div.side-wallet div.side-btn > a{border:2px solid #333; border-radius:50px; padding:0.2rem 0.8rem; background:rgba(255,255,255,0.5); text-align:center; font-family:var(--fs-medium);}

/******************************

메뉴명 : 캘린더
파일명 : calendar.php
최종 수정일 : 2025-10-30

******************************/

/* 캘린더 */
div.calendar-wrap{}
div.calendar-wrap div.calendar-container{display:flex; justify-content:space-between;}
div.calendar-wrap div.calendar-container div.calendar{width:75%;}
div.calendar-wrap div.calendar-container div.calendar div.cal-title{display:flex; align-items:center; margin-bottom:1rem; gap:2rem; justify-content:center;}
div.calendar-wrap div.calendar-container div.calendar div.cal-title a.arrow{width:2rem; height:2rem; font-size:0; border-radius:50%; background:#fff url("../img/ico_arrow_right.svg")center/50% auto no-repeat; transition:0.2s;}
div.calendar-wrap div.calendar-container div.calendar div.cal-title a.arrow.prev{transform:scaleX(-1);}
div.calendar-wrap div.calendar-container div.calendar div.cal-title p.cal-ym{font-size:1.35rem;}
div.calendar-wrap div.calendar-container div.calendar div.cal-week{}
div.calendar-wrap div.calendar-container div.calendar div.cal-week ul.week-list{display:flex;}
div.calendar-wrap div.calendar-container div.calendar div.cal-week ul.week-list li{width:calc(100% / 7); text-align:center;}
div.calendar-wrap div.calendar-container div.calendar div.cal-week ul.week-list li.week-red{color:var(--color-main02);}
div.calendar-wrap div.calendar-container div.calendar div.cal-week ul.week-list li.week-blue{color:var(--color-main03);}
div.calendar-wrap div.calendar-container div.calendar div.cal-day{height:calc(8.25rem * 5); overflow-y:auto;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day::-webkit-scrollbar{width:4px;  /* 스크롤바의 너비 */}
div.calendar-wrap div.calendar-container div.calendar div.cal-day::-webkit-scrollbar-thumb {height: 30%; /* 스크롤바의 길이 */ background:#888; /* 스크롤바의 색상 */ border-radius: 10px;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day::-webkit-scrollbar-track{background: rgba(33,33,33,.1);  /*스크롤바 뒷 배경 색상*/}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list{display:flex; flex-wrap:wrap;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li{width:calc(100% / 7); height:7.25rem; margin-top:0.35rem; font-size:0.9rem;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li:nth-child(7n){margin-right:0;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li.done{}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li.done a{border-color:#eee; background:#eee; opacity:.5;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li a{width:95%; padding:0.3rem 0.5rem; display:block; height:100%; margin:0 auto; border:1px solid #bbb; border-radius:0.5rem; background:#fff; position:relative; cursor:default;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li a span.day-num{font-family:var(--fs-medium);}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li a div.money-area{line-height:1.5; margin-top:1px;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li a div.money-area p{font-size:0.9em; text-align:right;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li a div.money-area p.money-red{color:var(--color-main02);}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li a div.money-area p.money-blue{color:var(--color-main03);}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li a div.money-area p.money-gray{color:#888;}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li.today{}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li.today a{border:2px solid var(--color-main01); box-shadow:0 0 5px rgba(15,178,89,0.3);}
div.calendar-wrap div.calendar-container div.calendar div.cal-day ul.day-list li.today span.day-today{background:var(--color-main01);  color:#fff; padding:1px 6px; border-radius:50px; font-size:10px; font-family:var(--fs-medium); position:absolute; top:0.4rem; right:0.5rem;}
@media(hover:hover){
    div.calendar-wrap div.calendar-container div.calendar div.cal-title a.arrow:hover{background-image:url("../img/ico_arrow_right_C01.svg");}
}


/* 캘린더 내역 */
div.calendar-wrap div.calendar-container div.month-breakdown{width:23%;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box{background:var(--color-main01); padding:0.5rem; border-radius:1rem; margin-top:3.5rem;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-tit{color:#fff; display:flex; align-items:Center; justify-content: space-between; padding:0.5rem; margin-bottom:0.5rem;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-tit p.left-tit{font-family:var(--fs-bold); font-size:1.2rem;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-tit a.add-btn{font-size:0.85rem; font-family:var(--fs-medium); border-radius:50px; border:2px solid #fff; background:transparent; padding:0.2rem 0.6rem; padding-left:2em; position:relative;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-tit a.add-btn:before{content:''; display:block; width:0.8em; height:0.8em; background:url("../img/ico_plus_wh.svg")center/100% auto no-repeat; position:absolute; top:50%; left:0.7rem; transform:translateY(-50%);}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con{background:#fff; padding:1rem; border-radius:0.8rem;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list{}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li{margin-bottom:0.5rem; padding-bottom:0.5rem; border-bottom:1px dashed #ccc; display:flex; justify-content: space-between; gap:0.5rem; flex-wrap:wrap;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li:last-child{margin-bottom:0; padding-bottom:0; border-bottom:0;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li p.cate{font-family:var(--fs-medium);}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li p.cate.cate-red{color:var(--color-main02);}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li p.cate.cate-blue{color:var(--color-main03);}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li p.cate.cate-gray{color:#888;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li p a:hover{text-decoration:underline;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li span.won{color:#888;}
div.calendar-wrap div.calendar-container div.month-breakdown div.mb-box div.mb-box-con ul.breakdown-list li.border-bold{border-bottom:2px solid #333;}


/******************************

메뉴명 : 체크리스트
파일명 : checklist.php
최종 수정일 : 2025-11-05

******************************/
div.chklist-wrap{}
div.chklist-wrap div.chklist-month{margin-bottom:2rem;}
div.chklist-wrap div.chklist-month ul.month-list{display:flex; align-items:center; justify-content:space-between; gap:0.5rem;}
div.chklist-wrap div.chklist-month ul.month-list li{width:calc(100% / 12); text-align:Center; font-size:0.9rem; border:1px solid #ddd; border-radius:0.5rem; transition:0.3s;}
div.chklist-wrap div.chklist-month ul.month-list li a{display:inline-block; width:100%; height:100%; padding:0.5rem 0;}
div.chklist-wrap div.chklist-month ul.month-list li a p.month{font-family:var(--fs-bold);}
div.chklist-wrap div.chklist-month ul.month-list li a p.task{font-size:0.9em; opacity:.6;}
div.chklist-wrap div.chklist-month ul.month-list li a span.state{font-size:0.85em; padding:0.125rem 0.5rem; color:#888; background:#eee; border-radius:5px; display:inline-block; margin:0 auto; margin-top:0.25rem;}
div.chklist-wrap div.chklist-month ul.month-list li.done{border-color:var(--color-main01-10); background:Var(--color-main01-10);}
div.chklist-wrap div.chklist-month ul.month-list li.done a span.state{background:Var(--color-main01-10); color:var(--color-main01);}
div.chklist-wrap div.chklist-month ul.month-list li.fail{border-color:Var(--color-main02-10);background:Var(--color-main02-10);}
div.chklist-wrap div.chklist-month ul.month-list li.fail a span.state{background:Var(--color-main02-10); color:var(--color-main02);}
div.chklist-wrap div.chklist-month ul.month-list li.on{border-color:#888; background:#888; color:#fff;}
div.chklist-wrap div.chklist-month ul.month-list li.done.on{border-color:var(--color-main01); background:var(--color-main01);}
div.chklist-wrap div.chklist-month ul.month-list li.fail.on{border-color:var(--color-main02); background:var(--color-main02);}
div.chklist-wrap div.chklist-month ul.month-list li.on a span.state{background:rgba(255,255,255,0.2); color:#fff;}
@media(hover:hover){
    div.chklist-wrap div.chklist-month ul.month-list li:not(.on):hover{border-color:#888;  box-shadow:0 10px 20px rgba(0,0,0,0.2);}
    div.chklist-wrap div.chklist-month ul.month-list li:not(.on).done:hover{border-color:var(--color-main01);}
    div.chklist-wrap div.chklist-month ul.month-list li:not(.on).fail:hover{border-color:var(--color-main02);}
}


/******************************

메뉴명 : home
파일명 : home.php
최종 수정일 : 2025-12-16

******************************/

div.home-wrap{display:flex; justify-content:space-between;}
div.home-wrap section.home-sect.sect01{width:25%;}

div.home-wrap div.home-profile{font-size:0.9rem;}
div.home-wrap div.home-profile div.profile-img{width:100%; height:15rem; border:2px solid #fff; border-radius:1rem; overflow:hidden;}
div.home-wrap div.home-profile div.profile-img img{width:100%; height:100%; object-fit:cover;}
div.home-wrap div.home-profile div.profile-dday{display:flex; flex-wrap:wrap; margin:0.5rem 0; justify-content:space-between; gap:0.5rem; color:#fff; background:var(--color-main01); border-radius:500px; padding:0.5rem 1rem;}
div.home-wrap div.home-profile div.profile-dday > span{display:inline-block;}
div.home-wrap div.home-profile div.profile-dday span.txt01{}
div.home-wrap div.home-profile div.profile-dday span.txt02{font-family:var(--fs-bold); font-size:0.95em; letter-spacing:1px;}
div.home-wrap div.home-profile div.profile-info{border:1px solid #ddd; border-radius:1rem; padding:0.5rem;}
div.home-wrap div.home-profile div.profile-info ul.info-list{}
div.home-wrap div.home-profile div.profile-info ul.info-list li{display:flex; justify-content: space-between; padding:0.5rem 1rem;}
div.home-wrap div.home-profile div.profile-info ul.info-list li span.info-t{color:#888;}
div.home-wrap div.home-profile div.profile-info ul.info-list li span.info-c{}
div.home-wrap div.home-profile div.profile-info ul.info-btn{border-top:1px solid #ddd; display:flex; gap:0.5rem; margin-top:0.3rem; padding:0.5rem; padding-bottom:0; font-size:0.95em; text-align:center;}
div.home-wrap div.home-profile div.profile-info ul.info-btn li{width:50%; border-right:1px solid #ddd;}
div.home-wrap div.home-profile div.profile-info ul.info-btn li:last-child{border-right:none;}
div.home-wrap div.home-profile div.profile-info ul.info-btn li a.info-btn{width:100%; opacity:.8;}
div.home-wrap div.home-profile div.profile-info ul.info-btn li a.info-btn.logout{color:var(--color-main02);}
div.home-wrap div.home-profile div.profile-info ul.info-btn li a.info-btn:hover{opacity:1; font-family:var(--fs-medium);}

div.home-wrap div.mini-calendar{margin-top:2.5rem; font-size:0.9rem;}
div.home-wrap div.mini-calendar div.cal-month{display:flex; margin:0.5rem; align-items:center; justify-content:space-between;}
div.home-wrap div.mini-calendar div.cal-month a.cal-month-arrow{width:1rem; height:1rem;}
div.home-wrap div.mini-calendar div.cal-month a.cal-month-arrow img{width:80%; height:auto; object-fit:contain;}
div.home-wrap div.mini-calendar div.cal-month a.cal-month-arrow.prev{transform:scaleX(-1);}
div.home-wrap div.mini-calendar div.cal-month a.cal-month-arrow.next{}
div.home-wrap div.mini-calendar div.cal-month p.cal-month-text{font-family:var(--fs-bold);}
div.home-wrap div.mini-calendar div.cal-week{margin-top:1rem;}
div.home-wrap div.mini-calendar div.cal-week ul.week-list{display:flex; margin-bottom:1rem;}
div.home-wrap div.mini-calendar div.cal-week ul.week-list li{color:#888; width:calc(100% / 7); text-align:center;}
div.home-wrap div.mini-calendar div.cal-week ul.week-list li.red{color:var(--color-main02);}
div.home-wrap div.mini-calendar div.cal-week ul.day-list{display:flex; font-size:0.9em; flex-wrap:wrap; gap:1rem 0;}
div.home-wrap div.mini-calendar div.cal-week ul.day-list li{width:calc(100% / 7); text-align:center;}
div.home-wrap div.mini-calendar div.cal-week ul.day-list li.today{color:var(--color-main01); font-family:var(--fs-bold); border-radius:1rem; background:var(--color-main01-10);}